#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 101%;
    height: 99%;
}

#customers td, #customers th {
    border: 2px solid #ededed;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #d8ffed;}

#customers tr:hover {background-color: #ffe0ed;}

#customers th {
    padding-top: 15px;
    padding-bottom: 13px;
    text-align: left;
    background-color: #1c632a;
    color: white;
}

.button {

    display: inline-block;
    padding: 5px 12px;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}





.button2 {

    display: inline-block;
    padding: 5px 12px;
    font-size: 23px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #f71827;
    border: none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
}

.button2:hover {background-color: #ef000f}

.button2:active {
    background-color: #770007;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}