<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5 ">
<head>
    <div th:replace="shared/header :: header-css"/>

    <title>lista samolotow</title>
</head>
<body class="card">
<div th:replace="shared/header :: header('vehicleList')"/>


<div id="main" class="card-body">


    <form th:method="POST" th:action="@{vehicleList.html}" th:object="${searchCommand}">
        <div class="row">
            <div class="form-group col-md-6">
                <input th:field="*{phrase5}" placeholder="z:" class="form-control"
                       th:classappend="${#fields.hasErrors('phrase5')}?'is-invalid'"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('phrase5')}">
                    <p th:each="err : ${#fields.errors('phrase5')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group col-md-6">
                <input th:field="*{phrase6}" placeholder="do:" class="form-control"
                       th:classappend="${#fields.hasErrors('phrase6')}?'is-invalid'"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('phrase6')}">
                    <p th:each="err : ${#fields.errors('phrase6')}" th:text="${err}"></p>
                </div>
            </div>

            <div class="form-group col-md-3">

                <input th:field="*{minPrice}" placeholder="Cena od" class="form-control"
                       th:classappend="${#fields.hasErrors('minPrice')}?'is-invalid'"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('minPrice')}">
                    <p th:each="err : ${#fields.errors('minPrice')}" th:text="${err}"></p>
                </div>

            </div>

            <div class="form-group col-md-3">

                <input th:field="*{maxPrice}" placeholder="Cena do" class="form-control"
                       th:classappend="${#fields.hasErrors('maxPrice')}?'is-invalid'"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('maxPrice')}">
                    <p th:each="err : ${#fields.errors('maxPrice')}" th:text="${err}"></p>
                </div>

            </div>


        </div>
        <div class="row">

            <div class="form-group col-md-8"></div>

            <div class="form-group col-md-2">
                <a th:if="${searchCommand.isEmpty() eq false or #fields.hasErrors('*')}" th:href="@{vehicleList.html(all)}" class="btn btn-success">
                    <span class="glyphicon glyphicon-refresh"></span> Pokaż wszystko
                </a>
            </div>

            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-info">
                    <span class="glyphicon glyphicon-search"></span> Wyszukaj
                </button>
            </div>
        </div>
    </form>



    <div th:if="${vehicleListPage.hasContent() eq false}">
        <span th:if="${searchCommand.isEmpty()}">Brak pojazdów w bazie</span>
        <span th:unless="${searchCommand.isEmpty()}">Brak wyników wyszukiwania</span>
    </div>
    <div th:if="${vehicleListPage.hasContent() eq true}">



            <span th:if="${searchCommand.isEmpty()}">
                Baza zawiera [[${vehicleListPage.totalElements}]] pojazdów
            </span>
        <span th:unless="${searchCommand.isEmpty()}">
                Wynik wyszukiwania: [[${vehicleListPage.totalElements}]] pojazdów
            </span>




        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Nr.lotu</th>
                <th scope="col">Klasa lotu</th>
                <th scope="col">Model samolotu</th>
                <th scope="col">Miejsce startu lotu</th>
                <th scope="col">Miejsce końca lotu</th>
                <th scope="col">Cena</th>
                <th scope="col">ilosc miejsc</th>
                <th scope="col">Data startu lotu</th>
                <th scope="col">Czas startu lotu</th>
                <th scope="col">Data końca lotu</th>
                <th scope="col">Czas końca lotu</th>
                <th scope="col" sec:authorize="hasRole('ADMIN')">Opcje</th>


            </tr>
            </thead>
            <tbody>



            <tr th:each="vehicle : ${vehicleListPage.content}">



                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.id}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.VehicleClass.name}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.vehicleName.name}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.start}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.destination}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.price}"> zł</p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.places}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${#strings.substring(vehicle.dateStart,0,10)}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.startTime}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${#strings.substring(vehicle.dateStart,0,10)}"></p></a><br/>
                <td><a th:href="@{vehicleDetails.html(did=${vehicle.id})}"><p th:text="${vehicle.endTime}"></p></a><br/>

                <td sec:authorize="hasRole('ROLE_ADMIN')">
                    <a class="btn btn-danger" th:href="@{vehicleList.html(did=${vehicle.id})}">Usuń</a>
                    <a class="btn btn-success" th:href="@{vehicleForm.html(id=${vehicle.id})}">Edytuj</a>
                </td>

            </tr>
            </tbody>
        </table>



        <div th:replace="shared/pagination :: pager('/vehicleList.html', ${vehicleListPage})"></div>

    </div>

    <a sec:authorize="hasRole('ADMIN')" class="btn btn-success" href="vehicleForm.html">Dodaj Nowy</a>

</div>



    </div>
</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>




















    </div>

</div>
<!--<div th:replace="shared/footer :: footer"></div>-->
</body>
</html>