<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="shared/header :: header-css"/>
    <title>Formularz</title>
</head>
<body>
<div th:replace="shared/header :: header('vehicleNameForm')"/>

<div class="card-body container">

    <form th:method="POST" th:object="${vehicleName}" th:action="@{/vehicleNameForm.html}">
        <fieldset>
            <h1>Dodawanie/Edycja</h1>


            <div class="form-group">
                <label for="name" class="bmd-label-floating">Nazwa:</label>
                <input id="name" type="text" th:field="*{name}"
                       class="form-control" th:classappend="${#fields.hasErrors('name')}?'is-invalid'"
                       required="true"/>
                <div class="error text-danger" th:if="${#fields.hasErrors('name')}">
                    <p th:each="err : ${#fields.errors('name')}" th:text="${err}"></p>
                </div>
            </div>



            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Zapisz"/>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                    <input type="hidden" th:field="*{id}"/>
                    <input
                            type="hidden"
                            th:name="${_csrf.parameterName}"
                            th:value="${_csrf.token}"/>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</div>

</div>
<div th:replace="shared/footer :: footer"></div>
</body>
</html>